@import url('https://fonts.googleapis.com/css2?family=Gayathri&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Gayathri', sans-serif;
    background: #c4fafa;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
    transition: .5s;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav > ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.main-nav > ul > li {
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main-nav ul li:hover {
    background: skyblue;
}

.submenu {
    width: 100vw;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 50px 0;
    display: flex;
    background: skyblue;
    transition: .5s;
    display: none;
    animation-name: fade;
    animation-duration: 1s;
}

.submenu ul {
    list-style: none;
    padding: 0;
}

.submenu ul li {
    margin: 50px 0;
}

.subnav:hover .submenu {
    display: flex;
}

.subnav span {
    float: right;
    display: none;
}

.sub_1, .sub_2, .sub_3, .sub_4, .sub_5, .sub_6 {
    display: none;
    transition: 1s;
}

.active {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nav-column-1 {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    flex-basis: 0;
}

.nav-column-2 {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
}

.nav-column-3 {
    display: flex;
    justify-content: center;
    flex-grow: 3;
    flex-basis: 0;
}

.line {
    width: 1px;
    height: 100%;
    background: black;
}

.triangle {
    position: relative;
    transition: .5s;
    margin-top: 43px;
}

.left-border {
    height: 25px;
    width: 1px;
    background: skyblue;
}

.top-border {
    width: 25px;
    height: 1px;
    background: black;
    position: absolute;
    top: 6px;
    left: -1px;
    transform: rotate(29deg);
}

.bottom-border {
    width: 25px;
    height: 1px;
    background: black;
    position: absolute;
    bottom: 6px;
    left: -1px;
    transform: rotate(-29deg);
}

.nav-btn {
    display: none;
    cursor: pointer;
}

.nav-btn span {
    width: 30px;
    height: 2px;
    background: black;
    display: block;
}

.nav-btn span:nth-child(2) {
    margin: 5px 0;
    width: 26px;
}

.nav-btn span:nth-child(3) {
    width: 22px;
}

.nav-buttons {
    display: none;
}

.nav-controls-buttons {
    display: none;
}




@media (max-width: 1200px) {

    nav {
        justify-content: flex-start;
        padding-left: 30px;
        transition: .5s;
    }
    
    .main-nav {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 400px;
        height: 100vh;
        background: white;
        transform: translateX(-400px);
        transition: .5s;
    }

    .toggle {
        transform: translateX(0);
        transition: .5s;
    }

    .nav-btn {
        display: block;
    }

    .nav-controls-buttons {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 60px;
    }

    .nav-back-btn {
        cursor: pointer;
        opacity: 0;
    }

    .nav-close-btn {
        display: block;
        cursor: pointer;
    }

    .main-nav > ul {
        display: block;
        padding-right: 60px;
    }

    .main-nav > ul > li {
        height: initial;
        width: unset;
        display: block;
        cursor: pointer;
        margin: 0 0 30px 60px;
        border-bottom: 1px solid lightgrey;
    }

    .main-nav > ul > li:hover {
        background: none;
        color: skyblue;
    }

    .main-nav > ul > li a:hover {
        color: skyblue;
    }

    .subnav:hover .submenu {
        display: none;
    }

    .subnav span {
        display: block;
    }

    .submenu {
        background: white;
        width: 40px;
    }

    .nav-column-1 {
        display: block;
        position: fixed;
        top: 70px;
        left: 0;
        width: 400px;
        height: 100vh;
        background: white;
        transition: .5s;
        overflow: scroll;
    }

    .nav-column-1 ul li {
        height: initial;
        width: unset;
        display: block;
        cursor: pointer;
        margin: 0 0 30px 60px;
        margin-right: 60px;
        border-bottom: 1px solid lightgrey;
    }

    .nav-column-1 ul li:hover {
        background: white;
    }

    #sub1 ul, #sub2 ul, #sub3 ul, #sub4 ul, #sub5 ul, #sub6 ul {
        display: none;
        background: white;
        padding-top: 20px;
    }
}

@media (max-width: 756px) {

    .main-nav {
        width: 100%;
        height: 100vh;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background: white;
        transform: translateX(-100%);
        transition: .5s;
    }

    .toggle {
        transform: translateX(0);  
    }

    .nav-column-1 {
        width: 100%;
    }
}
